<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    Integrante 1:
      Nombre: {{familiar1.Nombre}}
      Edad: {{familiar1.Edad}}
      DNI: {{familiar1.DNI}}
      Fecha Nacimiento: {{familiar1.FechaNacimiento}}
    Integrante 2:
      Nombre: {{familiar2.Nombre}}
      Edad: {{familiar2.Edad}}
      DNI: {{familiar2.DNI}}
      Fecha Nacimiento: {{familiar2.FechaNacimiento}}
    Integrante 3:
      Nombre: {{familiar3.Nombre}}
      Edad: {{familiar3.Edad}}
      DNI: {{familiar3.DNI}}
      Fecha Nacimiento: {{familiar3.FechaNacimiento}}  
</body>
</html>